CLARITY_PUBLIC_ORIGIN=https://SERVER_IP
CLARITY_LOGIN_EMAIL=tangyucinder@gmail.com
CLARITY_LOGIN_PASSWORD=CHANGE_ME
CLARITY_SESSION_SECRET=GENERATE_A_LONG_RANDOM_VALUE
CLARITY_ALLOW_REGISTRATION=true
